.contents
  .contents__calendars
    = month_calendar events: @pays do |date, pays|
      = date.day
      - array = []
      - pays.each do |pay|
        - if pay.user_id == current_user.id
          - array << pay.price
      .contents__calendars__sum-pay
        - if array.sum < 0
          = array.sum
  .side-bar
    .side-bar__side-contents
      %h1 1日の家計簿
      = search_form_for @search do |f| 
        -# <%= f.label :title_cont, 'タイトル' %>
        -# <%= f.text_field :title_cont %>
        -# <br />
        = f.label :作成日
        = f.date_select :start_time_eq, include_blank: true ,selected:Time.now,id:"start_time_serch"
        -# <%= f.date_select :created_at_lteq, include_blank: true %>
        .side-bar__btn
          = f.submit '検索する' ,class:"day_serch_btn"
    #side-bar__pay
      - if params[:q].present?
        - @pays_days.each do |pay_day| 
          - if pay_day.user_id == current_user.id
            = pay_day.price 
            = pay_day.start_time.day
            %br
          

