= form_with(model: pay, local: true) do |form|
  - if pay.errors.any?
    #error_explanation
      %h2
        = pluralize(pay.errors.count, "error")
        prohibited this pay from being saved:
      %ul
        - pay.errors.full_messages.each do |message|
          %li= message

  .field
    = form.date_select :start_time 
    = form.label :金額 
    = form.number_field :price ,max:-1
    = form.label :メモ 
    = form.text_field :memo 

  .actions
    = form.submit :支出を入力する
