<p id="notice"><%= notice %></p>

<h1>Pays</h1>

<table>
  <thead>
    <tr>
      <th>Start time：datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pays.each do |pay| %>
      <tr>
        <td><%= pay.start_time：datetime %></td>
        <td><%= link_to 'Show', pay %></td>
        <td><%= link_to 'Edit', edit_pay_path(pay) %></td>
        <td><%= link_to 'Destroy', pay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pay', new_pay_path %>
