= render "devise/shared/header" 
.devise
  .devise__contents-devise
    .devise__contents-devise__content-devise
      %h2 ログイン
      .devise-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .devise-field
            .devise-field__devise-name
              = f.label :email
            .devise-field__devise-date
              = f.email_field :email, autofocus: true, autocomplete: "email"
          .devise-field
            .devise-field__devise-name
              = f.label :password
            .devise-field__devise-date
              = f.password_field :password, autocomplete: "current-password"
          - if devise_mapping.rememberable?
            .devise-field
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit "ログイン"