
- @pay_categories.each do |pay_category|
  - if  pay_category.user_id.blank?  || pay_category.user_id == current_user.id 
    .cc{style:"color:#{pay_category.color};"}
      =pay_category.name
      -if pay_category.user_id == current_user.id
        = link_to '削除', pay_category_path(pay_category), method: :delete 

.pay-form
  = form_with(model: @pay_category, local: true) do |form|
    - if @pay_category.errors.any?
      #error_explanation
        %h2
          = pluralize(@pay_category.errors.count, "エラー")
          のため保存ができません:
        %ul
          - @pay_category.errors.full_messages.each do |message|
            %li= message
 
    .pay-field
      .pay-field__pay-name
        = form.label :name
      .pay-field__pay-date-memo
        = form.text_field:name ,class:"memo",size: "30x10"
    .actions
      = form.submit :支出を入力

  
